In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2022-07-17 22:47:26,-33.6500,115.3333,54.12,90,95,14.45
1,1,Constitucion,CL,2022-07-17 22:47:27,-35.3333,-72.4167,49.69,93,100,6.31
2,2,Georgetown,MY,2022-07-17 22:47:27,5.4112,100.3354,82.89,92,20,1.01
3,3,Port Alfred,ZA,2022-07-17 22:47:27,-33.5906,26.8910,68.49,36,0,12.26
4,4,Brody,UA,2022-07-17 22:47:28,50.0879,25.1503,50.68,83,34,5.99

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Georgetown,MY,2022-07-17 22:47:27,5.4112,100.3354,82.89,92,20,1.01
5,5,Atuona,PF,2022-07-17 22:47:28,-9.8000,-139.0333,78.12,78,12,19.77
8,8,Trebinje,BA,2022-07-17 22:47:29,42.7119,18.3442,82.76,32,0,19.57
12,12,Jalu,LY,2022-07-17 22:47:32,29.0331,21.5482,81.95,42,0,15.79
15,15,Bubaque,GW,2022-07-17 22:47:33,11.2833,-15.8333,80.40,85,100,13.85
16,16,Butaritari,KI,2022-07-17 22:47:33,3.0707,172.7902,81.93,74,66,11.36
18,18,Sarangani,PH,2022-07-17 22:47:34,5.4033,125.4636,78.89,82,100,6.69
26,26,Tuni,IN,2022-07-17 22:47:37,17.3500,82.5500,77.63,91,100,9.46
32,32,Phan Thiet,VN,2022-07-17 22:44:54,10.9333,108.1000,77.25,87,96,8.28
35,35,Koumac,NC,2022-07-17 22:47:42,-20.5667,164.2833,75.07,63,29,4.41

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2   Georgetown      MY     82.89   5.4112  100.3354
5       Atuona      PF     78.12  -9.8000 -139.0333
8     Trebinje      BA     82.76  42.7119   18.3442
12        Jalu      LY     81.95  29.0331   21.5482
15     Bubaque      GW     80.40  11.2833  -15.8333
16  Butaritari      KI     81.93   3.0707  172.7902
18   Sarangani      PH     78.89   5.4033  125.4636
26        Tuni      IN     77.63  17.3500   82.5500
32  Phan Thiet      VN     77.25  10.9333  108.1000
35      Koumac      NC     75.07 -20.5667  164.2833

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head

<bound method NDFrame.head of               City Country  Max Temp      Lat       Lng  \
2       Georgetown      MY     82.89   5.4112  100.3354
5           Atuona      PF     78.12  -9.8000 -139.0333
8         Trebinje      BA     82.76  42.7119   18.3442
12            Jalu      LY     81.95  29.0331   21.5482
15         Bubaque      GW     80.40  11.2833  -15.8333
..             ...     ...       ...      ...       ...
544  Marsh Harbour      BS     82.90  26.5412  -77.0636
545   Port-De-Bouc      FR     80.62  43.4000    4.9833
548     Banda Aceh      ID     79.05   5.5577   95.3222
552        Changli      CN     75.33  39.7042  119.1506
553     Balkanabat      TM     89.40  39.5108   54.3671

                                       Hotel Name
2                                  Cititel Penang
5                                     Villa Enata
8                                  Hotel Aćimović
12                                  صاحبة الفخامة
15                             Casa Dora, Bubaque
..                                            ...
544                            Abaco Beach Resort
545                  HOTEL RESIDENCE LES AIGUADES
548                       OYO 884 Rumoh PMI Hotel
552  7Days Inn Qinhuangdao Changli Jieyang Street
553                                Nebitchi Hotel

[212 rows x 6 columns]>

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))