## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

   City_ID      City Country  Max Temp      Lat       Lng  Hotel Name
0        0    Albany      US     53.37  42.6001  -73.9662         NaN
1        1  Olafsvik      IS     42.40  64.8945  -23.7142         NaN
2        2    Matara      LK     76.24   5.9485   80.5353         NaN
3        3   Ushuaia      AR     58.66 -54.8000  -68.3000         NaN
4        4    Avarua      CK     77.05 -21.2078 -159.7750         NaN

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

Hotel Name
    {Hotel Name}
    
City
{City}
Country
{Country}
Max Temp
{Max Temp}

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 

# *PICKED CITIES FROM CSV DUE TO ISSUES WITH MAP*

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
start_city = "Todos Santos"
end_city = "Todos Santos"
city1 = "Ixtapa"
city2= "Miraflores"
city3 = "Nocupetaro"

vacation_start = vacation_df.loc[vacation_df["City"] == start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == end_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city3]

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

   City_ID          City Country  Max Temp      Lat       Lng  Hotel Name
0      422  Todos Santos      MX     73.65  23.4500 -110.2167         NaN
1      185        Ixtapa      MX     79.83  20.7000 -105.2000         NaN
2      419    Miraflores      MX     71.02  19.2167  -98.8083         NaN
3      614    Nocupetaro      MX     76.28  19.0500 -101.1500         NaN